<!DOCTYPE html>
<html>

<head>
    <title>HTML Login Form</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="main">
        <h1>Control Web</h1>
        <h3>Enter your login credentials</h3>

         <div>
               {{.Msg}}
         </div>

        <form action="/user/login" method="POST">
            <label for="Account">
                Account:
            </label>
            <input type="text" id="account" name="account" 
                placeholder="Enter your Account" required>

            <label for="password">
                Password:
            </label>
            <input type="password" id="password" name="password" 
                placeholder="Enter your Password" required>

            <div class="wrap">
                <button type="submit">
                    Submit
                </button>
            </div>
        </form>
        
    </div>
</body>

</html>