<html>
<head>
    <title>control web</title>
</head>

<body>
 <form action="/user/login" method="POST">
            <label for="Account">
                Account:
            </label>
            <input type="text" id="account" name="account" 
                placeholder="Enter your Account" required>

            <label for="password">
                Password:
            </label>
            <input type="password" id="password" name="password" 
                placeholder="Enter your Password" required>

            <div>
                <button type="submit">
                    Submit
                </button>
            </div>
        </form>
</body>
</html>